<script>
	import './styles.css';
</script>

<svelte:head>
	<title>Pagină wiki îmbogățită</title>
	<meta name="description" content="Un prototip a platformei gîndite pentru disertație." />

  <link
    rel="preload"
    href="/fonts/UTSans-Bold.ttf"
    as="font"
    type="font/ttf"
    crossorigin="crossorigin"
  />
  <link
    rel="preload"
    href="/fonts/UTSans-Medium.ttf"
    as="font"
    type="font/ttf"
    crossorigin="crossorigin"
  />
  <link
    rel="preload"
    href="/fonts/UTSans-Regular.ttf"
    as="font"
    type="font/ttf"
    crossorigin="crossorigin"
  />

	<style>

    @font-face {
      font-family: 'UT Sans';
      font-style: normal;
      font-weight: 400;
      src: local(''), url('/fonts/UTSans-Regular.ttf');
    }

    @font-face {
      font-family: 'UT Sans';
      font-style: medium;
      font-weight: 500;
      src: local(''), url('/fonts/UTSans-Medium.ttf');
    }

    @font-face {
      font-family: 'UT Sans';
      font-style: bold;
      font-weight: 600;
      src: local(''), url('/fonts/UTSans-Bold.ttf');
    }

	</style>


</svelte:head>

<div class="app">

	<main>
		<slot />
	</main>

</div>

<style>
	.app {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	main {
		flex: 1;
		display: flex;
		flex-direction: column;
		/* padding: 1rem; */
		width: 100%;
		max-width: 64rem;
		margin: 0 auto;
		box-sizing: border-box;
	}

</style>
