<div id="continut">

	<slot />

</div>

<style>
	div#continut {
		background-color: white;
		text-align: justify;
		width: 34rem;
		margin: 1rem auto;
		padding: 5rem;
		box-shadow: 0px 0px 15px 0px #11111140;
	}

	div#continut h1,
	div#continut h2 {
		line-height: 2rem;
		font-weight: 600;
	}

@media (max-width: 720px) {
	div#continut {
        box-sizing: border-box;
        width: 100%;
		margin: 0;
		padding: 1.35rem;
	}
}
</style>
