<svelte:head>
	<title>Cum cercetarea online ne este îngreunată</title>
	<meta name="description" content="Prezentarea ideilor preliminare pentru lucrarea de Disertație. Argumentarea temei alese în contextul problemei prepuse spre soluționare, și exemplificarea sa cu exepriențe personal întîmpinate în procesul de cercetare online." />
</svelte:head>


	<h1 style="margin: 0; text-align: left; font: Caladea;">
		Cum cercetarea online ne este îngreunată
	</h1>

	<hr />

	<div style="display: flex; flex-direction: row; justify-content: space-between;">
		<div id="autor">Yehoslav Rudenco</div>
		<div style="font-style: italic;">
			{new Date("2023-11-26").toLocaleString("ro", {year: "numeric", month: "long", day: "2-digit"})}
		</div>
	</div>



	<p>
		M-am gîndit mai mult vara aceasta asupra ideilor propuse în lucrarea de licență și, cu
		"aprofundarea" în diferitele posibilități, deveneam tot mai conștient că implementarea lor pare
		a fi o imposibilitate, din vina mea desigur, imposibilitatea ne fiind tehnică considerînd că avansările
		tehnologice recente depășesc cu mult viziunile mele naive. Adevărata imposibilitate este
		de realizare a acelei viziuni cu a nivelul meu de expertiză, atît în domeniul Ingineriei
		cît și în domeniul TI (Tehnologii informaționale)... din păcate am experiența limitată,
		ca sa nu zic de loc, în ambele.
	</p>

	<p>
		Soluția pare simplă, să îmi rezerv puțin timp să acumulez acea experiență prin muncă
		asiduă în industrie, să întîmpin personal acele probleme pe care am promis că le pot rezolva.
	</p>

	<p>
		Din nefericire, însă, nu sunt persoana care alege calea cea simplă. Mai degrabă sunt persoana
		care încearcă: să găsească noi oportunități din problema creată; să iasă dintr-o
		încurcătură prin identificarea unei noi probleme, soluționarea căreia m-ar apropia de
		soluționarea problemei inițiale. Și ce poate fi mai plăcut de cît rezolvarea unei probleme
		care alții nici nu realizează că o au, o problemă atît de infimă că, cu toate că e
		frecvent întîmpinată, nimeni nu observă existența ei.
	</p>

	<h2>O problemă de pretutindeni</h2>

	<p>
		Indiferent de care problemă am întîmpina nu vom fi în stare să îi găsim
		o soluție întru totul singuri, fiindcă pînă și cea mai simplă soluție
		necesită un efort pentru a fi găsită, prin urmare soluționarea tuturor de
		la 0 nu este sustenabilă. În contextul dat specia umană, pe bună dreptate,
		reutilizează experiența și cunoștințele anterioare (atît proprii, cît și
		ale întregii civilizații în genere) pentru a preveni reinventarea a ce este
		cunoscut, ce permite utilizarea energiei și a timpului
		valoros pentru a aborda sarcini și probleme noi.
	</p>

	<p>
		În acest scop au fost elaborate diferite medii și metode ca să ajute în răspîndirea
		experienței și a cunoștințelor. Din acestea cea mai de seamă este cartea, sau mai
		bine zis scrierea, care include mai multe medii: jurnale, articole, bloguri ș.a. Scrierea,
		în special comparativ cu vorba, este un mediu unic anume prin faptul că permite transmiterea
		cunoștințelor, în spațiu și în timp, fără participarea directă a persoanei care a
		creat sursa dată. 
	</p>

	<p>
		Cu toate că acest mediu este antic, el s-a dovedit a fi destul de versatil ca să profite
		mult de avansările tehnologice, oferind posibilitatea căutării rapide după cuvinte cheie,
		indexarea surselor textuale pentru găsire ușoară în rețea, iar mai recent și manipularea
		de către modele lingvistice de învățare autonomă pentru a compila cea mai potrivită reprezentare a unei
		idei/concept din mai multe surse disponibile. Un lucru însă pare să rămînă neschimbat,
		caracterul de carte pe care aceste medii par să îl păstreze.
	</p>

	<p>
		La fel ca într-o scriere fizică (carte, articol...) conținutul în echivalentul lor
		electronic este static. Staticitatea paginilor este atît de paradoxală că mulți nici
		nu o realizează și nu se întreabă: cum de într-o lume în care rețelele de socializare
		pe baza la mii de date aleg cea mai potrivită postare pentru a prezenta consumătorului,
		articolele bagă notițe importante în subsol, care adesea va fi la zeci de paragrafe mai
		jos. În consecință sistemele de organizare a conținutului specifice mediilor fizice,
		care își merită existența datorită limitărilor mediului, își găsesc răspîndire
		și în mediile extrem de dinamice.
	</p>

	<p>
		Paragraful anterior descrie esența problemei infime, soluționarea căreia o consider, care
		va servi ca un bun exercițiu pentru dobîndirea experienței tehnice necesare pentru
		realizarea lucrării propuse la licență. Pe scurt, obiectivul care mi-l propun, este
		elaborarea unei platforme de prezentare și transmitere a informației și cunoștințelor
		într-un mod dinamic în mediul electronic. Iar prin concentrarea asupra conținutului
		specific ingineriei, platforma fiind în esență o enciclopedie a Sudurii, sper să
		dobîndesc și cunoștințele teoretice necesare pentru o înțelegere mai bună a domeniului.
	</p>

	<p>
		În continuare voi preleva elementele care consider că pot fi îmbunătățite, motivînd 
		deciziile și, cînd e cazul, oferind posibile soluții (în format PMV, produs minim viabil).
	</p>
	
	<h2>Diferite nevoi aceeași ofertă</h2>

	<p>
		Cred că oricine a avut vreodată această frustrare, să deschizi un articol care promite în
		titlu soluționarea unei probleme, și din primele paragrafe să fii întîlnit de informații
		tangențiale, care, în cel mai bun caz, setează scena. Trei paragrafe mai jos realizezi
		că din toate citite pînă la moment nu ai nici o utilitate, fiind detalii care le cunoști
		sau care nu sunt relevante. De aici sari din paragraf în paragraf căutînd desperat acea
		soluție promisă, pînă într-un final ajungi la încheiere și îți dai seama că, în cel mai bun caz,
		ai omis explicația promisă în titlu. Cu dinții scrîșnind recitești mai atenta articolul
		ca să găsești soluția dorită diluată între glume de prost gust în unul dintre paragrafele
		care nu te-a impresionat prin nimic la prima citire și eventual ai sărit peste în grabă...
	</p>

	<p>
		Mai rău de cît atît poate fi doar să citești un articol care îți prezintă răspunsul
		într-o formă secă, în cel mai academic și abstract mod posibil, fără să seteze scena,
		să intre în detalii și să stabilească contextul. Într-un final te găsești
		cu zece file deschise căutînd fiecare cuvînțel, devastat de limbajul robotic și fără
		suflet în care a fost totul scris... chiar e așa de greu să incluzi măcar o glumă pentru
		a crea o atmosferă mai prietenoasă?
	</p>

	<p>
		Cît de contradictorii nu ar părea situațiile descrise mai sus, ele reprezintă o realitate
		tristă. Orice articol publicat în rețea va fi inevitabil expus unui auditoriu extrem de
		variat, atît din punct de vedere a cunoștințelor cît și din punct de vedere a preferințelor
		subiective. Inevitabil, cît de bine nu va fi scris un articol, în special unul în scop
		educativ, se vor întîlni pe de o parte persoane cu destulă experiență în domeniu ca
		să considere, pe bună dreptate, micile abateri de clarificare a contextului obositoare și inutile;
		iar pe de altă parte vor fi persoane noi în domeniu care vor fi revoltați că articolul
		i-a întîlnit cu idei complexe care ar fi trebuit explicate mai în detaliu.
	</p>

	<p>
		Aceasta este una din limitările platformelor moderne, oferirea aceluiași conținut
		(aceeași ofertă) tuturor cititorilor indiferent de necesitățile acestora. Aceasta
		este o limitare care probabil mulții ar încerca să a justifice, oricine ar fi tentat
		să dea un argument de tipul "este imposibilă crearea unui conținut care va satisface
		pe toții, deci trebuie să învățăm să trăim cu această limitare". Acest argument
		are o seminție de adevăr, însă el ignoră o realitate evidentă, că rețelele moderne
		de socializare (Facebook, YouTube, TikTok...) sunt în stare să aleagă cel mai potrivit
		conținut pentru fiecare utilizator (consider mai corect de-i numit consumători).
	</p>

	<p>
		Desigur nu am în vizor o soluție care ar genera conținutul unei pagini pe baza activității
		recente a utilizatorului. O astfel de soluție ar ignora scopul inițial a conținutului de
		a transmite gîndurile și ideile autorului. În consecință o soluție potențială cel puțin ar trebui
		să ofere interactivitatea fără a altera intenția inițială a autorului. Ideal însă ar fi
		ca autorul să aibă un grad de control asupra produsului final.
	</p>

	<p>
		La moment consider a fi o soluție prielnică elaborarea unui set de elemente interactive
		pe pagină, care ar permite o accesarea intuitivă și nondisruptivă, de către utilizator,
		a conținutului suplimentar pregătit de autor însă implicit ascuns. Elementele ascunse vor fi
		containere pentru conținut nonesențial (cum ar fi detalii, exemple, glume, ș.a.) care va
		fi afișat fie implicit în funcție de setări, fie la cererea cititorului. 
	</p>

	<p>
		Aici țin să anticipez o posibilă soluție, care în lumina evenimentelor din ultimul ani, ar
		părea perfectă pentru problema prezentată în subcapitolul dat (generarea conținutului croit
		necesităților utilizatorului), și anume utilizarea așa zisei inteligențe artificiale. Desigur
		eu nu am cunoștințe suficiente ca să afirm cu certitudine impactul real pe care tehnologia dată
		îl va avea, nu pot însă să ignor senzația că multe din ce credem despre ea să fie un rezultat
		a propagandei realizate în scop de a promova produsul. Din propria experiență pot evidenția
		unele limitări ale tehnologiei care violează condițiile stabilite anterior, pe care soluția
		trebuie să le satisfacă.  Aceste limitări sunt lipsa de intenție și lipsa de autoritate. În
		linii generale lipsa de intenție se referă la faptul că tehnologia generează conținut doar la
		cerere cu scopul de a satisface acea cerere, deci calitatea răspunsului e direct dependentă de
		cerere. În plus, conținutul generat nu este prezentat cu o autoritate, deci modelul ce a generat
		acel conținut nu va ezita să îl modifice după placul utilizatorului pentru a-i satisface
		cererea indiferent de calitatea acesteia. Detaliile nu sunt relevante pentru scopul acestui articol.
	</p>

	<p>
		Totuși merită de considerat utilizarea acestor tehnologii atît pentru a genera diferite versiuni de
		conținut (pe baza unui articol inițial), cît și pentru a automatiza repartizarea prin diferite
		elemente a conținutului în funcție de valoarea sa semantică.
	</p>

	<h2 id="mozaic">Citire în mozaic</h2>

	<p>
		Desigur nu sunt primul care să observ limitarea prezentată anterior. De fapt majoritatea
		autorilor întreprind măsuri de remediere, cu mai mult sau mai puțin succes. Evident rareori
		se recurge la o generare personalizată a conținutului, sau chiar scrierea a versiuni diferite
		pentru diferite grupe de audiențe, un efort în plus care nu mereu rentează. 
		Dintre soluțiile cel mai frecvent întîlnite vor predomina soluții statice,
		care pot fi: notițe de subsol<sup>1</sup>, <a href="https://en.wikipedia.org/wiki/Hyperlink">hiperlegături</a>
		la surse externe sau <a href="/info/hiperlegaturi">interne</a>.
	</p>


	<div id="nota-bene" style="background-color: #55990033; padding: 0.75em; border: #55990088 1px solid; border-radius: 0.5rem;">
		<h3 style="margin: 0; padding-bottom: 0.5rem; font-weight: 500;">Notițe utile</h3>
		<p style="margin: 0; font-size: 0.95rem; line-height: 1.25rem;">
			Se mai întâlnesc și cazuri cînd detalii sunt incluse în blocuri special formatate,
			acestea la rîndul lor pot conține și hiperlegături către date suplimentare.
		</p>
	</div>

	<p>
		Toate aceste elemente sunt extrem de utile cînd sunt utilizate ca atare. Totuși cît de
		adecvată nu ar fi utilizarea lor este dificil de ignorat natura lor disruptivă. Oricînd
		urmărim o hiperlegătură, sau căutăm o notiță de subsol, noi vom întrerupe starea
		mintală specifică procesului de citire. Această întrerupere 
		duce la o interferență în procesul natural de asimilare a informației,
		care în viziunea mea poate fi descrisă ca: a consuma un fragment suficient de informații;
		cu o ulterioară digestie a sa prin cugetări periodice asupra celor citite. Cel puțin
		din propria experiență în timpul citirii creierul intră într-o stare meditativă
		pentru a optimiza procesul. Căutarea detaliilor suplimentare poate fi considerată ca o
		întrerupere a meditației, adesea inevitabilă din simplă curiozitate. Situația este cu
		atît mai gravă în cazul hiperlegăturilor, care pot să ne conducă pe o cale secundară
		complet detașată de scopul nostru inițial.
	</p>

	<p>
		Acest tip de citire am denumit-o citire în mozaic din motiv că informația, care ar putea
		fi asimilată ca un întreg, este asimilată în părți arbitrare separate de distrageri
		sporadice pentru a urmări referințele contextuale și a cauta detaliile indicate de autor.
		Desigur cele descrise în acest paragraf sunt trăiri subiective, și gravitatea acestui
		stil de citire probabil variază de la persoană la
		persoană. Eu personal consider aceste salturi catastrofale, fiindcă sunt dintre persoanele
		pentru care o deviere suficient de lungă poate cauza uitarea completă a intențiilor
		urmărite.
	</p>

	<p>
		O metodă e a reduce aceste întreruperi nedorite este includerea elementelor
		auxiliare în cîmpul vizual a cititorului, astfel reducînd din efortul necesar
		pentru identificarea și urmărirea lor. Aceasta poate fi realizată prin adoptarea
		metodei descrise în secțiunea anterioară, ce va consta în crearea elementelor
		interactive care vor for afișa informațiile necesare, fie într-un obiect în linie sau într-un
		obiect flotant, care va fi afișat la cererea cititorului. De această tehnică poate profita și
		o hiperlegătură, pentru care se poate afișa o scurta descriere în fereastra flotantă, 
		ca după exemplul întîlnit pe Vichipedia.
	</p>

	<p>
		De asemenea o soluție ar fi crearea unei interfețe care ar valoriza întregul spațiu orizontal,
		care în cazul monitoarelor moderne este mai mare ca cel vertical. În acel spațiu
		pot fi incluse nu doar elemente suplimentare, care trebuie studiate individual de conținut,
		ci și elemente care se modifică dinamic în funcție de informațiile de interes pentru cititor.
		O posibilitate ar fi de a include în acele spații a definiției cuvîntului evidențiat, 
		previzualizări a legăturilor de interes ș.a. În plus, vizual pot fi evidențiate legătura dintre
		text și acele elemente laterale, pentru a le contextualiza.
	</p>

	<h2>Zettelkasten | Ladă de Notițe</h2>

	<p>
		Soluțiile propuse anterior ca tehnici de organizare în scopul menținerii în cîmpul vizual
		a conținutului, fără însă a-l supraîncărca, nu sunt mereu adecvate. De cele mai multe ori
		conceptele secundare prezentate, necesare pentru atingerea scopului propus de articol, își merită
		propriul articol, dacă nu chiar carte, pentru a fi ele însăși explicate. În cazul acesta este inevitabilă
		referirea către o sursă externă în scopul suplinirii detaliilor necesare.
	</p>

	<p>
		Aceste legături către surse externe, după cum s-a prezentat și mai sus, au un mare potențial
		disruptiv. Ele întrerup complet firul narativ creat de articolul curent înlocuindu-l cu al său,
		prezintă viziuni stilistice și conceptuale diferite, și, probabil cel mai rău, nu oferă o
		garanție că conțin informația căutată. În consecință va fi necesar un exercițiu mintal
		suplimentar pentru a ține în minte contextul articolelor pentru a integra informațiile din
		articolele periferice într-un ansamblu coerent de idei.
	</p>

	<p>
		Aceasta problemă nu poate fi ușor combătută în cazul surselor de pe alte platforme,
		și cu atît mai mult din alte medii. Un efort însă poate fi întreprins pentru a minimiza
		efectele nedorite la utilizarea legăturilor interne. O metodă de a îmbunătăți experiența
		la utilizarea legăturilor interne ar fi gîndirea unui cadru de organizare a conținuturilor
		care să permită o legare mai eficientă. O astfel de metodă poate fi inspirată din tehnica <a
		href="https://zettelkasten.de/introduction/">Zettelkasten</a> (din germană "casetă de note"),
		care în sine este o metodă de organizare eficientă a notițelor. Ideea cheie propusă de această
		tehnică, care o consider relevantă problemei discutate, este de a captura doar o unitate minimă
		de conținut (cum ar fi o idee, sau un gînd) per notiță; aceste unități minime de conținut
		vor fi legate în conținut complex prin legarea între ele a notițelor cu conținut minim. În
		același spirit, în cadrul platformei pot fi create casete de notițe care vor conține doar
		concepte esențiale, care vor fi legate între ele pentru a crea articole detaliate. Astfel,
		conținutul acelor notițe fiind minim la urmărirea hiperlegăturilor cantitatea de informații
		va fi minimă, ce va permite o estimare rapidă a utilității sale, ba char mai mult, astfel de
		notițe ar putea fi relativ ușor previzualizate în spațiile laterale menționate anterior.
	</p>

	<h2>Cît de adînc duce vizuina iepurelui?</h2>

	<p>
		Probabil cel mai uimitor aspect al vieții este că există mai multe abordări 
		valide a aceluiași, acele abordări nu doar fiind compatibile, dar și cu
		potențial de a fi complimentar utilizate în atingerea unui scop. Astfel și
		hiperlegăturile, cu toate că le-am prezentat pînă acum ca un element nociv, 
		joacă un rol unic în explorarea informației. Ceea ce prezintă un element disruptiv
		cînd dorim să asimilăm cît mai eficient informația expusă în cadrul unui articol,
		reprezintă o unealtă de neînlocuit cînd se dorește identificarea acelor articole
		demne de asimilat.
	</p>

	<p>
		Cred fără exagerare că o hiperlegătură este vizuina iepurelui, care, ca în
		povestea <a href="https://en.wikipedia.org/wiki/Alice%27s_Adventures_in_Wonderland">"Alice's Adventures in the Wonderland"</a>, 
		este intrarea în lumea minunilor.
		Prin urmare, un conținut online, în special educațional, trebuie să faciliteze
		pe cît posibil această călătorie magică, ideal fiind ca fiecare concept să
		fie calea către o ramură nouă care așteaptă să fie descoperită. Un concept 
		similar întîlnit pe dexonline.ro, unde fiecare cuvînt dintr-o definiție este
		și legătură către definiția sa proprie.
	</p>

	<p>
		Cînd se exploră țara minunilor există riscul de a fi rupt de realitate, iar în cazul
		explorării conținuturilor online există riscul să pierdem din vizor scopul nostru inițial,
		sau și mai probabil, să ne pierdem literalmente printre filele navigatorului. În cazul 
		legăturilor interne acest pericol poate fi prevenit prin memorizarea de însăși platformă
		a legăturilor urmărite, și reconstruirea istoricului la necesitate. Considerînd ideile
		introduse de <em>Zettelkasten</em>, acel istoric de călătorire ar putea fi redat grafic,
		ce va permite vizualizarea legăturilor între conceptele vizualizate, ce în sine
		poate fi informație prețioasă.
	</p>

	<h2>
		Plan de acțiuni
	</h2>

	<p>
		Pașii următori pentru realizarea proiectului, în ordinea importanței, sunt:
	</p>

	<ol>
		<li>
			Implementarea funcționalității de bază ca un prototip simplu. Această va
			consta în implementarea directă a unui set de funcționalități pentru
			unele articole cu scopul adresării problemelor descrise. Intenția acestui
			pas este de a realiza un produs minim viabil pentru testarea viabilității
			îmbunătățirilor propuse cu scopul prevenirii lucrului inutil.
		</li>

		<li>
			Crearea unui algoritm de generare a paginilor îmbunătățite din
			reprezentări speciale mai ușor de creat și întreținut. După cum am
			menționat la primul punct primele pagini pentru testarea ideilor vor fi
			create prin adăugarea manuală a tuturor elementelor interactive propuse
			la un set de articole prestabilite. Această metodă de creare a
			conținutului nu poate fi sustenabilă. Algoritmul dezvoltat în această
			etapă va adăuga automat elementele interactive unui conținut textual,
			atît automat conform unor reguli prestabilite, cît și pe baza unor
			marcaje speciale în conținutul textual pentru a controla acest proces la
			nevoie.
		</li>

		<li>
			Stabilirea unui set de reguli de organizare a conținutului pe platformă pentru a 
			maximiza avantajele oferite de funcționalitatea nouă introdusă.
		</li>
	</ol>

	<hr>

	<ol>
		<li>
			Notițe adesea ascunse la sfîrșitul paginii, ceva util într-o pagină de carte, pe o pagină
			în rețea vă las pe dvs să decideți.
		</li>
	</ol>


<style>

	ol {
		padding: 0;
	}
</style>
